.rich-home {

  .rich-banner {
    background-color: $primary;
  }

  .brand {
    color: $white;
  }

  .brand-logo {
    font-family: 'Shintia';
    font-size: 288px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
  }
}
