//Vendor
@import '../../../assets/scss/app'; //Rich

//Modules, Variables and Utilities
@import './fonts';
@import './colors';

body {
  margin: 0;
  height: 100vh;
  background-color: $white;
}
//Partials
@import './home';
@import './docs';
