.rich-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .rich-nav-item {
    margin-left: auto;
    margin-right: auto;
  }
}

.rich-nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rich-nav-left {
  align-items: center;
  display: flex;

  .rich-nav-item:first-of-type {
    margin-left: 15px;
  }
}

.rich-nav-item {
  a {
    text-decoration: none;
    color: black;
  }
  margin-right: 15px;
}
