.rich-chart {
  font: 12px Helvetica;
}

path {
    stroke: steelblue;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
