.rich-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .rich-nav-item {
    margin-left: auto;
    margin-right: auto;
  }
}

.rich-nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rich-nav-left {
  align-items: center;
  display: flex;

  .rich-nav-item:first-of-type {
    margin-left: 15px;
  }
}

.rich-side-nav {
  height: 100%;
  min-width: 200px;
  position: fixed;

  .rich-nav-item {
    min-height: 35px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .rich-side-nav-header {
    min-height: 50px;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
  }
}

.rich-nav-item {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
